---
title: List of teams by tag
category: list
hide_date: true
---

<p>List of teams by tag.</p>

<p>
  Limit category to:
  <a href="./List-of-everything-by-tag">everything</a>,
  <span class="categories">
    [<a href="./List-of-lists-by-tag">list</a>],
    [<a href="./List-of-people-by-tag">person</a>],
    [<a href="./List-of-posts-by-tag">post</a>],
    [<a href="./List-of-projects-by-tag">project</a>],
    [<a href="./List-of-tags-by-tag">tag</a>],
    [team]
  </span><br>
  Sort by:
  <a href="./List-of-teams">title</a>,
  <a href="./List-of-teams-by-date">date</a>,
  tag
</p>

{% assign all_teams = site.pages | where_exp: "item","item.categories contains 'team'" | sort: "title" %}
{% assign tag_arrays = all_teams | map: "tags" %}
{% assign tags = empty %}
{% for tag_array in tag_arrays %}
  {% assign tags = tags | concat: tag_array %}
{% endfor %}

{% assign tags = tags | uniq | sort | where_exp: "item","item.size > 0" %}

{% for tag in tags %}
  <h2>{% include ref.html title=tag category="tag" %}</h2>
  {% assign pages = all_teams | where_exp: "item","item.tags contains tag" %}
  {% include list.html pages=pages %}
{% endfor %}
