---
title: List of lists by date
category: list
hide_date: true
---

<p>List of lists by date.</p>

<p>
  Limit category to:
  <a href="./List-of-everything-by-date">everything</a>,
  <span class="categories">
    [list],
    [<a href="./List-of-people-by-date">person</a>],
    [<a href="./List-of-posts-by-date">post</a>],
    [<a href="./List-of-projects-by-date">project</a>],
    [<a href="./List-of-tags-by-date">tag</a>],
    [<a href="./List-of-teams-by-date">team</a>]
  </span><br>
  Sort by:
  <a href="./List-of-lists">title</a>,
  date,
  <a href="./List-of-lists-by-tag">tag</a>
</p>

{% assign pages_by_month = site.pages | where_exp: "item","item.categories contains 'list'" | where_exp: "item","item.hide_date != true" | sort: "date" | reverse | group_by_exp: "item","item.date | date: '%Y-%m'" %}

{% for month in pages_by_month %}
  <h2>{{ month.name }}</h2>
  {% include list.html pages=month.items %}
{% endfor %}
