*, *:before, *:after {
  /* Use the box model that should have been the default all along. */
  box-sizing: border-box;

  /* A nice-looking transition when switching themes. */
  transition: .1s color linear, .3s background-color linear, .3s border-color linear;
}


:root {
  /* Colors */
  --white: #fff;
  --off-white: hsl(160, 30%, 97%);
  --green: hsl(160, 100%, 40%);
  --mid-green: hsl(160, 100%, 30%);
  --dark-green: hsl(160, 100%, 5%);
  --off-black: hsl(160, 100%, 3%);
  --grey: hsl(210, 12%, 16%);
  --blue: hsl(160, 100%, 30%);

  /* Light theme */
  --text-color: var(--grey);
  --link-color: var(--blue);
  --page-bg: var(--off-white);
  --main-bg: var(--white);
  --button-bg: var(--green);
  --link-hover: var(--off-white);
  --underline: var(--grey);

  /* Dark theme */
  @media (prefers-color-scheme: dark) {
    --text-color: var(--off-white);
    --link-color: var(--green);
    --page-bg: var(--off-black);
    --main-bg: var(--dark-green);
    --button-bg: var(--green);
    --link-hover: var(--off-black);
    --underline: var(--off-white);
  }

  /* Responsive vars */
  --pad: min(2.6vw, 2rem);
  --half-pad: calc(var(--pad) * 0.5);
}

html {
  font-family: system-ui;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--page-bg);
}

body {
  display: grid;

  @media(min-width: 801px) {
    margin: var(--pad) var(--pad) 0;

    /* On wide screens, the header is like a sidebar */
    grid-template-areas:
      "header main"
      "footer footer";
  }

  @media(max-width: 800px) {
    margin: 0;

    /* On narrow screens, everything is a column */
    grid-template-areas:
      "header"
      "main"
      "footer";
  }
}

header {
  grid-area: header;
  display: grid;
  padding: var(--pad);
  gap: var(--half-pad); /* Space around the edit button */
  background: var(--main-bg);

  @media(min-width: 801px) {
    justify-self: end; /* Butt header up against main */
    grid-template-areas: /* Simple column layout */
      "logo"
      "edit"
      "nav";
    align-content: start; /* Pull children up the top */
  }

  @media(max-width: 800px) {
    grid-template-areas: /* Logo on the left, edit and nav on the right */
      "logo edit"
      "logo nav";
    grid-template-rows: max-content; /* Pull edit up to the top */
    text-align: right;
  }

  a.logo {
    grid-area: logo;
    display: block;
    aspect-ratio: 1;
    width: 12em;

    @media(max-width: 800px) {
      width: calc(6em + 10vw);
    }

    &:focus {
      outline-color: var(--text-color);
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  .edit {
    grid-area: edit;
    display: inline-block;
    padding: var(--half-pad);
    border-bottom: 5px solid var(--mid-green);
    text-align: center;
    font-weight: bold;
    color: white;
    text-decoration: none;

    &, &:hover, &:active, &:focus {
      background: var(--button-bg);;
    }

    @media(max-width: 800px) {
      place-self: end;
      padding: var(--half-pad) var(--pad);
      border-bottom-width: 3px;
    }

    &:focus {
      outline-color: var(--green);
    }

    span {
      display: inline-block;
      font-size: 1.4em;
      line-height: 0;
      margin-left: -.9em;

      @media(max-width: 800px) {
        display: none;
      }
    }
  }

  nav {
    grid-area: nav;
    display: flex;
    flex-flow: column;

    a {
      @media(min-width: 801px) {
        padding: .4em var(--half-pad);
      }

      @media(max-width: 800px) {
        align-self: end; /* Shrink the tappable area to just around the text */
        padding: var(--half-pad) var(--pad);
      }
    }
  }

  section {
    max-width: 11em;

    @media(max-width: 800px) {
      display: none;
    }

    h1 {
      margin: var(--pad) 0 var(--half-pad);
    }

    ul {
      margin: 0;
      padding: 0;
      padding-left: 1em;
    }
  }
}

main {
  grid-area: main;
  max-width: calc(56em + var(--pad));
  padding: var(--pad);
  padding-left: 0;
  background: var(--main-bg);

  @media(max-width: 800px){
    padding: var(--pad);
  }
}

footer {
  grid-area: footer;
  padding: var(--pad) 0 1em;
  text-align: center;
  text-wrap: balance;

  .cc0 {
    img {
      height: auto;
      margin-left: .15em;
      vertical-align: -.3em;
    }
  }

  .initials {
    img {
      border-radius: 40px;
    }
  }
}

/* The tab title doubles as the page title */
title {
  display: block;
  padding-bottom: .2em;
  border-bottom: 5px solid var(--underline);
  font-size: 3em;
  line-height: 1.1;
  text-wrap: balance;
}

h1, h2 {
  border-bottom: 2px solid currentcolor;
}

img {
  vertical-align: middle; /* Remove an ugly space under images */
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: outline .1s linear;
}

a:hover, a:active {
  text-decoration: underline;
}

a:focus {
  outline: solid 3px var(--link-color);
}

a:hover, a:active, a:focus {
  background: var(--link-hover);
}

ul {
  list-style-type: square;
}
