/* RESET & VARS */

*, *:before, *:after { box-sizing: border-box; }

:root {
  /* Sizes and spacing */
  --logo-width: 12em;
  --pad: 2.6vw; /* Fallback for browsers that don't have min() */
  --pad: min(2.6vw, 2rem);
  --half-pad: calc(var(--pad) * 0.5);

  /* Colors */
  --white: #fff;
  --off-white: hsl(160, 30%, 97%);
  --green: hsl(160, 100%, 40%);
  --mid-green: hsl(160, 100%, 30%);
  --dark-green: hsl(160, 50%, 8%);
  --off-black: hsl(160, 50%, 4%);

  --light-grey: hsl(160, 10%, 85%);
  --dark-grey: hsl(210, 12%, 16%);
  --blue: hsl(160, 100%, 30%);

  /* Light theme */
  --text-color: var(--dark-grey);
  --link-color: var(--blue);
  --page-bg: var(--off-white);
  --main-bg: var(--white);
  --button-bg: var(--green);
  --link-hover: var(--off-white);
  --shadow: #00000008;
}

/* Dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--light-grey);
    --link-color: var(--green);
    --page-bg: var(--off-black);
    --main-bg: var(--dark-green);
    --button-bg: var(--green);
    --link-hover: var(--off-black);
    --shadow: #000;
  }
}

/* MAJOR LAYOUT ELEMENTS */

body {
  margin: 0;
  text-align: center;
  font-size: 16px;
  line-height: 1.5;
  font-family: system-ui, sans-serif;
  color: var(--text-color);
  background-color: var(--page-bg);
}

main {
  display: inline-flex;
  text-align: left;
  box-shadow: 0 0 1em var(--shadow);
}

@media(min-width: 801px) {
  main {
    flex-flow: row;
    margin: var(--pad) var(--pad) 0;
    border-radius: 3px;
    overflow: hidden; /* needed for border-radius */
  }
}

@media(max-width: 800px) {
  main {
    flex-flow: column;
  }
}

header {
  flex: 0 0 auto;
  display: flex;
  flex-flow: column;
  padding: var(--pad);
  background: var(--main-bg);
}

@media(max-width: 800px) {
  header {
    text-align: right;
    flex-flow: row;
    justify-content: space-between;
  }
}

header a.logo {
  display: inline-block;
  width: var(--logo-width);
  aspect-ratio: 1;
}

@media(max-width: 800px) {
  header a.logo {
    width: calc(6em + 10vw);
  }
}

header a.logo:focus {
  outline-color: var(--text-color);
}

header a.logo img {
  width: 100%;
  height: auto;
}

header .edit {
  display: inline-block;
  margin: var(--half-pad) 0;
  padding: var(--half-pad);
  border-bottom: 5px solid var(--mid-green);
  text-align: center;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

header .edit,
header .edit:hover,
header .edit:active,
header .edit:focus {
  background: var(--button-bg);
}

header .edit:focus {
  outline-color: var(--text-color);
}

@media(max-width: 800px) {
  header .edit {
    padding: var(--half-pad) var(--pad);
    border-bottom-width: 3px;
    margin: 0;
  }
}

header .edit span {
  display: inline-block;
  font-size: 1.4em;
  line-height: 0;
  margin-left: -.9em;
}

@media(max-width: 800px) {
  header .edit {
    display: none;
  }
}

header nav {
  display: inline-flex;
  flex-flow: column;
  font-weight: 700;
}

header nav a:hover,
header nav a:active,
header nav a:focus {
  background: var(--link-hover);
}

@media(min-width: 801px) {
  header nav a {
    padding: .4em var(--half-pad);
  }
}

@media(max-width: 800px) {
  header nav a {
    align-self: end; /* Shrink the tappable area to just around the text */
    padding: var(--half-pad) var(--pad);
  }
}

header section {
  width: var(--logo-width);
}

@media(max-width: 800px) {
  header section { display: none; }
}

header section h1 {
  margin: var(--pad) 0 .5rem;
}

header section ul {
  margin: 0;
  padding: 0;
  padding-left: 1em;
}

article {
  flex: 0 1 auto;
  max-width: calc(56em + var(--pad));
  padding: var(--pad);
  padding-left: 0;
  background: var(--main-bg);
}

@media(max-width: 800px) {
  article { padding: var(--pad); }
}

footer {
  padding: 0 0 1em;
  text-wrap: balance;
  font-weight: 200;
}

footer .cc0 img {
  height: auto;
  margin-left: .15em;
  vertical-align: -.3em;
}

footer .initials {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  overflow: hidden;
  &:focus { outline-color: var(--text-color); }
}

/* MINOR ELEMENTS */

/* The tab title doubles as the page title */
/* This angers the validator, but 🤞 seems fine */
title {
  display: block;
  padding-bottom: .2em;
  border-bottom: 3px solid currentcolor;
  font-size: 3em;
  font-weight: 300;
  line-height: 1.1;
  text-wrap: balance;
}

h1, h2 {
  border-bottom: 2px solid currentcolor;
}

h1, h2, h3 {
  font-weight: 300;
}

img {
  vertical-align: middle; /* Don't add space under images */
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: outline .1s linear;
  border-radius: 1px; /* This rounds the corner of the focus outline */
  contain: content; /* Make corners consistent, even when the link contains an image */
}
a:hover, a:active { text-decoration: underline; }
a:focus { outline: solid 3px var(--link-color); }

ul {
  list-style-type: square;
}
